language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4

before_install:
  - env
  # - sudo apt-cache search python
  # In order to install matplotlib
  - sudo apt-get install -y libpng-dev libfreetype6-dev python${VIRTUALENV_PYTHON}-dev libopenblas-dev liblapack-dev gfortran libatlas-dev

install:
  - if [[ "${TRAVIS_PYTHON_VERSION}" == "2.6" ]]; then pip install argparse; fi
  - pip install numpy pandas mando coverage
  - python setup.py install
  - pip install coveralls

script:
  - nosetests --with-doctest --with-coverage --cover-tests --cover-package=swmmtoolbox --cover-branches --cover-erase

after_success:
  - coveralls
